html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

/*font-family: 'Montserrat', sans-serif
font-family: 'Lexend Deca', sans-serif*/
h1 {
  color: #ff4400;
  font-size: 20ps;
}