//@include desktop

$mobile-max-width:760px;
$mobile-min-width:300px;
$laptop-width:992px;
$desktop-width:1024px;

@mixin mobile {
  @media only screen and (min-width: #{mobile-min-width}) and (max-
  width: #{mobile-max-width}) {
     @content;
  }
}

@mixin tablet {
   @media only screen and (min-width: #{$laptop-width}) and (max-
   width: #{$desktop-width}) {
     @content;
   }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

//border-radius//
@mixin border-radius($radius) {
    border-radius: $radius;
  }

