html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

$font-base: 'Montserrat', sans-serif;
$font-special: 'Lexend Deca', sans-serif;




h1{
 font-family: $font-special;
}

h2{
  font-family: $font-special;
}

body{
  font-family: $font-base;
  font-size: 16px;
}