---
layout: cta-template.njk
---

<div class="wrepper">
    <!--cam sabloma davase -->
    <main class="contejner">
        {{ content | safe }}
    </main>

    {% include 'partials/logo.njk' %}

    
</div>

    