---
layout: cta-template.njk
title: cta-logo-template
---


<!--cam sabloma davase -->
<main class="contejner">
    {{ content | safe }}
</main>



<!-- Blok se značkamy -->
<div class="logo">
    <h3 class="logo__title">Spolupraujeme se značkami</h3>
    <div class="logo__scoup">
        <div class="logo__items">
            <img src="/img/logo/logo_lg.svg" alt="lg icon">
        </div>
        <div class="logo__items logo__items--small">
            <img src="/img/logo/logo_samsung.svg" alt="samsung icon">
        </div>
        <div class="logo__items">
            <img src="/img/logo/logo_ivt.svg" alt="ivt icon">
        </div>
    </div>
</div>


    