<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@500;600&family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet">

    <!-- Vlastní styl -->
	<link rel="stylesheet" href="/css/style.css">


</head>

<body>
    <!-- Menu navihace-->
    <header>
        <div class="navigation">
            <div class="navigation__conteiner">
                <img src="/img/logo/logo.svg" alt="Logo">
                <div class="navigation__link">
                    <ul class="anvigator__item" >
                        <li class="navigation__item"><a href="/" class="active">Pro nas</a></li>
                        <li class="navigation__item"><a href="/klimatizace/" class="navigetion__link">Klimatizace</a></li>
                        <li class="navigation__item"><a href="/tepelna-cerpadla/" class="navigetion__link">Tepelná čerpadla</a></li>
                    </ul>
                </div>
                
                <a class="batton__secondary" href="/kontakty/">Kontaktujte nás</a>

                <nav class="menu">

                    <input type="checkbox" class="menu__checkbox" id="menu-checkbox">

                    <div class="menu__hamburher">
                        <img class="menu__icon" src="/img/icon/icon_hamberher.svg" alt="f">
                        <p class="menu__icon">Menu</p> 
                    </div>
       
            
                    <ul class="menu__list">
                        <li class="menu__item"><a href="/" class="active">Pro nas</a></li>
                        <li class="menu__item"><a href="/klimatizace/" class="navigetion__link">Klimatizace</a></li>
                        <li class="menu__item"><a href="/tepelna-cerpadla/" class="navigetion__link">Tepelná čerpadla</a></li>
                    </ul>
            
                </nav>

            </div>
        </div>
    </header>


    <!--cam sabloma davase -->
    <main class="contejner">
       
        {{ content | safe }}
        
    </main>


    <div class="footer-container">
        <div class="footer__iner">
            <div class="footer__colums">
                
                <div class="footer__item ">
                    <h3 class="footer__header">Kvalita to jsme my. Zařizujeme tepelná čerpadla a klimatizace</h3>
                    <p class="footer__copy">info@vavrac.eu</p>
                </div>

                <div class="footer__list">
                    
                    <a class="footer__links" href="/">Pro nas</a>
                    <a class="footer__links" href="/tepelna-cerpadla/">Tepelná čerpadla</a>
                    <a class="footer__links" href="/klimatizace/">Klimatizace</a>
                    <a class="footer__links" href="/kontakty/">Kontakt</a>
                
                </div>

                <div class="footer__media">
                    
                    <a class="footer__link-media" href="https://www.facebook.com/">Instagram</a>
                    <a class="footer__link-media" href="https://www.instagram.com/">Facebook</a>
                
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="footer-bottom__logo">
                <img src="/img/logo/logo.svg" alt="logo">
            </div>
            <p class="footer-bottom__info">Vavrac s.r.o © 2023. All rights reserved.</p>
            <p class="footer-bottom__info-me">Designed by Milana Ivanova</p>

        </div>

    </div>


</body>
</html>