
/*Semanting naming*/
$primery: #1F7CBC;
$black: #292C2E;


$neutral-600: #4B4D4F;
$neutral-300: #D7D5CB;
$neutral-200: #EDECE8;
$neutral-100: #FAF8F4;
$wight: #ffffff;





/*typography*/
$text-main: $black;
$text-sec: $neutral-600;
$text-wight: $wight;

/* border */
$border: $neutral-300;

/* body */
$background: $neutral-200; 
$back-light:$neutral-100;
$back-primery: $primery;

/* buttons */
$btn-primary-bg: $neutral-200;
$btn-primary-hover:$neutral-300;
$btn-primary-active:$neutral-600;






/*https://medium.com/codyhouse/create-your-design-system-part-3-colors-798e4729921f*/

/*feedback
$color-success:
$color-error:
$color-warning:*/

